@{
    ViewBag.Title = "Home Page";
}

<table border="1">
    <thead>
        <tr>
            <td>Commands</td>
            <td>Id</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

    
</table>